{% extends "artists/base.html" %}
{% block content %}
<div class="container mt-5 pt-3 col-12">
    <div>
        <h2>Tours</h2>
        <div class="w-100 mb-4">
            <div class="border border-dark rounded">
                <div>
                    <table class="w-100">
                        <thead class="bg-dark text-white text-left border border-dark">
                            <tr>
                                <th scope="col" class="pl-2">Artist</th>
                                <th scope="col" class="pl-2">Tour Name</th>
                                <th scope="col" class="pl-2 pr-4">Country</th>
                                <th scope="col" class="pl-2 pr-4">Show Count</th>
                            </tr>
                        </thead>
                        <tbody class="border-bottom border-dark">
                            {% for artist in artist_list.all %}
                            <tr class="border-bottom border-dark">
                                <th scope="row" class="border-right border-dark p-3 ">{{ artist.artist_Name }}</th>
                                <th scope="row" class="border-right border-dark p-3 ">Summer Tour</th>
                                <td class="p-3 border-right border-dark">USA</td>
                                <td class="p-3 text-right border-right border-dark">5</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>


{% endblock content %}